{% extends 'base_main.html' %}

{% block title %}
    上传房屋详情图片
{% endblock %}

{% block content %}
    <p>上传房屋详情图片,可上传多张</p>
    <form id="upload-pic" enctype="multipart/form-data">
        <label for="house-image">选择图片</label>
        <input type="file" accept="image/*" name="house_image" id="house-image">
        <input type="submit" value="上传">
    </form>
    <p id="success-info"></p>
    <a href="/house/myhouse/">返回</a>
{% endblock %}

{% block js %}
    {{ super() }}
    <script>
        $('#upload-pic').submit(function(){
            $(this).ajaxSubmit({
                url:'/house/my_upload_pic/',
                type:'post',
                dataType:'json',
                success:function(data){
                    $('#success-info').text(data.success)
                    $('#upload-pic')[0].reset();
                }
            })
            return false
        })
    </script>
{% endblock %}